<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="none">
    <test verbose="2" preserve-order="true" name="C:/Users/Haider/IdeaProjects/Syngenta">

        <parameter name="browser" value="headless"/>

        <classes>
            <class name="testCases.LoginUserTestCase">
                <methods>
                    <include name="UserCanLoginSuccessfully"/>
                </methods>
            </class>

            <class name="testCases.AddLandingPageTestCase">
                <methods>
                    <include name="UserCanAddLandingPageSuccessfully"/>
                </methods>
            </class>

            <class name="testCases.NewsTestCase">
                <methods>
                    <include name="UserCanAddNewsItem"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>