<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="none">

    <test verbose="2" preserve-order="true" name="C:/Users/Haider/IdeaProjects/Syngenta">

        <parameter name="browser" value="headless"/>

        <classes>
            <class name="testCases.ContentTypeTest">
                <methods>
                    <include name="UserCanLoginSuccessfully"/>
<!--                    <include name="UserCanAddLandingPageSuccessfully"/>-->
<!--                    <include name="UserCanAddNewsItem"/>-->
<!--                    <include name="UserCanAddEvent"/>-->
<!--                    <include name="UserCanAddBlogPage"/>-->
                    <include name="UserCanAddContactInfoPage"/>



                </methods>
            </class>

        </classes>
    </test>
</suite>